*{
    margin:0 ;
    padding: 0;
}

.bgimage{
    background-image: url('./3.png');
    background-size:100% 100%;
    width:100%;
    height:100vh;
}
.menu{
    width:100%;
    height:100px;
    background-color:rgba(0, 0, 0, 0.5);
}
.leftmenu{
    width:20px;
    line-height:100px;
    float:left;
}
.leftmenu{
    padding-left:70px;
    font-weight:bold;
    color:white;
    font-size: 22px;
    font-family:montserrat,sans-serif ;
}
.rightmenu{
    width:75%;
    height:100px;
    float:right;
    /* background-color:red ; */
}
.rightmenu ul{
    margin-left:200px ;
}
.rightmenu ul li{
    font-family:montserrat,sans-serif ; 
    display: inline-block;
    list-style:none ;
    font-size: 15px;
    color:white;
    font-weight: bold;
    line-height:100px ;
    margin-left: 40px;
    text-transform:uppercase ;
}
#firstlist{
    color:orange;
}
.rightmenu ul li:hover{
    color:orange;
}
.text{
    width:100%;
    margin-top: 185px;
    text-transform:uppercase ;
    text-align: center;
    color:red;
}
.text h4{
    font-size:14px;
    font-family:montserrat,sans-serif ; 
}
.text h1{
    font-size:60px ;
    font-family:montserrat,sans-serif ; 
    font-weight:700px;
    margin:16px 0px;
}
#button1{
    background-color:white;
    
    font-size: 12px;
    font-weight: bold;
    text-transform:uppercase;
     line-height: 40px;
     width: 150px;
     font-family:montserrat,sans-serif ;  
    margin-top:25px;
    border:3px solid blue;
    cursor: pointer;
}
#button2{
    background-color:transparent;
  
    font-family:montserrat,sans-serif  ;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    border:3px solid blue;
    width: 150px;
    cursor: pointer;
}
#button2:hover{
    background-color: purple;
    color: white;
}